{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Insert expense</h1>

    {{ form_start(expenseForm) }}
    {{ form_row(expenseForm.category) }}
        {{ form_row(expenseForm.price) }}
        {{ form_row(expenseForm.quantity) }}
        {{ form_row(expenseForm.created) }}
    {{ form_row(expenseForm.save) }}
    {{ form_end(expenseForm) }}
{% endblock %}
