{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">

        <a class="btn btn-primary" href="{{ path('expense_form') }}">Insert</a>

        <div class="container">
            <div class="row">
                <div class="col">Category</div>
                <div class="col">Price</div>
                <div class="col">Quantity</div>
                <div class="col">Created</div>
                <div class="col"></div>
            </div>

            {% for e in expenses %}
                <div class="row border border-primary">
                    <div class="col">{{ e.category.name }}</div>
                    <div class="col">{{ e.price }}</div>
                    <div class="col">{{ e.quantity }}</div>
                    <div class="col">{{ e.date|date("d.m.Y") }}</div>
                    <div class="col">
                        <a class="" href="{{ path('expense_form_edit', { 'id': e.id }) }}">Edit</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
